.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: indigo;
  color: white;
  padding: 1rem 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 60px;
  box-sizing: border-box;
}

.navbarContent {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navLinks a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  overflow-x: hidden;
}
